@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar hiding */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}